* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: url("https://images3.alphacoders.com/114/thumb-1920-1148433.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* * {
  border: 1px solid black;
} */

.calc-box {
  height: 700px;
  width: 200%;
  border-radius: 30px;
  background-color: #155263;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border: 3px solid black;
}

.result {
  background-color: #ffc93c;
  width: 460px;
  height: 100px;
  font-size: 32px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 30px;
  border-radius: 20px;
  border: 3px solid black;
}

.digit:hover {
  cursor: pointer;
  background-color: #455d7a;
}
.sign:hover {
  cursor: pointer;
  background-color: #f95959;
}

.butoane1 {
  background-color: #ff6f3c;
  width: 450px;
  margin-top: 15px;
  height: 55%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid black;
}

.butoane2 {
  background-color: #ff6f3c;
  width: 450px;
  height: 15%;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 15px;
  border: 3px solid black;
}
.butoane2 > button {
  flex: 1;
  border-radius: 30px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  margin-left: 4px;
  margin-right: 4px;
}
.butoane2 > .digit {
  flex-grow: 2;
}

button {
  border: 3px solid black;
}
h2 {
  margin-right: auto;
  margin-left: 18px;
  color: #fff;
  text-shadow: #aef5e7;
  margin-bottom: 1px;
  font-family: Lucida Sans Typewriter;
}
a {
  text-decoration: underline black;
  color: #fff;
}
.butoane1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.butoane1 .sign,
.butoane1 .digit {
  flex-basis: calc(25% - 10px);
  margin: 5px;
  border-radius: 50px;
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}
