* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.15;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100%;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  border: 1px solid black;
}

.calc-box {
  height: 500px;
  width: 100%;
  border-radius: 92% 8% 92% 8% / 9% 94% 6% 91%;
  background-color: #aef5e7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result {
  background-color: #f47c6d;
  width: 360px;
  height: 100px;
  margin-top: 30px;
  border-radius: 89% 11% 77% 23% / 22% 98% 2% 78%;
}

button {
  max-height: 25px;
}
.butoane1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: auto;
}
